<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Why did we make this Website?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">This Website is for individuals who wants to explore more about cooking and helping others know more about differents recipes for different dishes 
            from all over the world!</p>
    </div>
</div>